<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.goloyalty.biz.mapper.LocationMapper">
	<sql id="location_column">
	    l.location_id, l.location_name, l.active, l.inst_id, date_format(l.inst_dtm, '%d/%m/%Y %H:%i:%s') as 'inst_dtm', l.mdf_id, date_format(l.mdf_dtm, '%d/%m/%Y %H:%i:%s') as 'mdf_dtm'
	</sql> 
	
	<select id="findLocations" resultType="java.util.HashMap">
		select
			<include refid="location_column"/>
		from ref_location l
	</select>
	
	<insert id="saveDealLocation">
		insert into deal_location (
			location_id
			, deal_id
			, inst_id
			, inst_dtm
		) values (
			#{location_id}
			, #{deal_id}
			, #{inst_id}
			, now()
		)
	</insert>
	
	<select id="findLocationsById" resultType="java.util.HashMap">
		select
			location_id
		from deal_location
		where deal_id = #{deal_id}
	</select>
	
	<insert id="saveRefLocation">
		insert into ref_location (
			location_id
			, location_name
			, active
			, inst_id
			, inst_dtm
		) values (
			#{location_id}
			, #{location_name}
			, #{active}
			, #{inst_id}
			, now()
		)
	</insert>
	
	<update id="updateRefLocation">
		update
			ref_location
		set location_name = #{location_name}
			, active = #{active}
			, mdf_id = #{mdf_id}
			, mdf_dtm = now()
		where location_id = #{location_id}
	</update>
</mapper>